.change-pass-wrapper{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: whitesmoke;
}
.change-pass-card{
    border: 0px;
    width: 500px;
    
}